html, body, p {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    position: relative;
    background-image: url('../img/rain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
p {
    margin: 0;
    padding: 0;
}
div {
    margin-bottom: 20px;
}
#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.is-hidden {
    display: none;
}